In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import user_name, p_word

In [2]:
engine = create_engine(f'postgresql://{user_name}:{p_word}@localhost:5432/marketing')

In [14]:

#find my own record
my_city = 'Tokyo'
my_rank_cat = 'media'
my_product_cat = 'Retail'

my_query = f'''
    select a.id, a.name, a.city, amr.ranking_category, amr.year, amr.points, pc.name
	    from agency as a
	    join agency_market_rank amr on
		    a.id = amr.agency_id
	    join agency_product_category apc on
		    a.id = apc.agency_id
	    join product_category pc on
		    apc.product_category_id = pc.id
	    where a.city = '{my_city}' and amr.ranking_category = '{my_rank_cat}' and pc.name = '{my_product_cat}'
	    order by a.name, amr.year, amr.ranking_category, amr.points desc'''


my_record = pd.read_sql(my_query, engine)
my_record

     id      name   city ranking_category  year  points    name
0   780    Dentsu  Tokyo            media  2018      51  Retail
1   780    Dentsu  Tokyo            media  2019      15  Retail
2  1292  Hakuhodo  Tokyo            media  2020      10  Retail